.content-container {
    margin: 0 auto;
    background-color: $off-white;
    padding: $m-size;
    max-width: 80rem;
    border-radius: 20px;
}

.content-navbar {
    padding: $m-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-noticebox {
    margin: 0 auto;
    max-width: 60rem;
    padding: $s-size;
    text-align: center;
}

.content-infobox {
    padding: $s-size;
    outline-style: solid;
    outline-width: 1px;
}

.content-container__title
{
    padding: $m-size 0;
    font-size: $l-size;
}

.content-center{
    margin: auto;
    text-align: center;
}

.buttonLogin {
    margin: auto;
    text-align: center;
    padding-top: 3em;
}